<h4>Add new Friend</h4>
<div class="container">
  <div class="row">
    <div class="form-group row">
      <label for="inputIsbn" class="col-sm-5 form-control-label">
        ISBN
      </label>
      <div class="col-sm-7">
        <input type="text" class="form-control"
               [(ngModel)]="inputInfo.isbn" id="inputIsbn">
      </div>

      <label for="inputBuku" class="col-sm-5 form-control-label">
        Nama Buku
      </label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="inputBuku"
               [(ngModel)]="inputInfo.buku" #inputBuku>
      </div>

      <label for="inputQuantity" class="col-sm-5 form-control-label">
        Quantity
      </label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="inputQuantity"
               [(ngModel)]="inputInfo.quantity" #inputQuantity>
      </div>
    </div>
    <div class="col-sm-3 form-control-label">
      <button type="Add" class="btn btn-success"
              (click)="tambahList(inputQuantity)">OK</button>
    </div>
  </div>
</div>
